In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

df=pd.read_csv('customer.csv')
df

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes
20   57  Female  Average    School       Yes
21   32    Male  Average        PG        No
22   18  Female     Poor        PG       Yes
23   96  Female     Good    School        No
24   16  Female  Average        PG       Yes
25   57  Female     Good    School        No
26   53  Female     Poor        PG        No
27   69  Female     Poor        PG        No
28   48    Male     Poor    School        No
29   83  Female  Average        UG       Yes
30   73    Male  Average        UG        No
31   22  Female     Poor    School       Yes
32   92    Male  Average        UG       Yes
33   89  Female     Good        PG       Yes
34   86    Male  Average    School        No
35   74    Male     Poor    School       Yes
36   34  Female     Good        UG       Yes
37   94    Male  Average        PG       Yes
38   45  Female     Good    School        No
39   76    Male     Poor        PG        No
40   39    Male     Good    School        No
41   23    Male     Good        PG       Yes
42   30  Female     Good        PG       Yes
43   27    Male     Poor        PG        No
44   77  Female  Average        UG        No
45   61    Male     Poor        PG       Yes
46   64  Female     Poor        PG        No
47   38  Female     Good        PG       Yes
48   39  Female     Good        UG       Yes
49   25  Female     Good        UG        No

In [2]:
df=df.iloc[:,2:]
df

     review education purchased
0   Average    School        No
1      Poor        UG        No
2      Good        PG        No
3      Good        PG        No
4   Average        UG        No
5   Average    School       Yes
6      Good    School        No
7      Poor    School       Yes
8   Average        UG        No
9      Good        UG       Yes
10     Good        UG       Yes
11     Good        UG       Yes
12     Poor    School        No
13  Average    School        No
14     Poor        PG       Yes
15     Poor        UG        No
16     Poor        UG       Yes
17     Poor        UG       Yes
18     Good    School        No
19     Poor        PG       Yes
20  Average    School       Yes
21  Average        PG        No
22     Poor        PG       Yes
23     Good    School        No
24  Average        PG       Yes
25     Good    School        No
26     Poor        PG        No
27     Poor        PG        No
28     Poor    School        No
29  Average        UG       Yes
30  Average        UG        No
31     Poor    School       Yes
32  Average        UG       Yes
33     Good        PG       Yes
34  Average    School        No
35     Poor    School       Yes
36     Good        UG       Yes
37  Average        PG       Yes
38     Good    School        No
39     Poor        PG        No
40     Good    School        No
41     Good        PG       Yes
42     Good        PG       Yes
43     Poor        PG        No
44  Average        UG        No
45     Poor        PG       Yes
46     Poor        PG        No
47     Good        PG       Yes
48     Good        UG       Yes
49     Good        UG        No

Splitting the dataset into training and testing dataset

In [39]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test=train_test_split(df.drop('purchased',axis=1),df['purchased'],train_size=0.9)

In [15]:
df['education'].unique()

array(['School', 'UG', 'PG'], dtype=object)

In [16]:
df['review'].unique()

array(['Average', 'Poor', 'Good'], dtype=object)

In [41]:
x_train

     review education
44  Average        UG
49     Good        UG
46     Poor        PG
45     Poor        PG
35     Poor    School
17     Poor        UG
10     Good        UG
37  Average        PG
42     Good        PG
40     Good    School
47     Good        PG
3      Good        PG
21  Average        PG
2      Good        PG
16     Poor        UG
7      Poor    School
26     Poor        PG
18     Good    School
39     Poor        PG
38     Good    School
33     Good        PG
4   Average        UG
15     Poor        UG
5   Average    School
6      Good    School
25     Good    School
29  Average        UG
48     Good        UG
32  Average        UG
23     Good    School
11     Good        UG
36     Good        UG
43     Poor        PG
14     Poor        PG
1      Poor        UG
9      Good        UG
0   Average    School
30  Average        UG
19     Poor        PG
31     Poor    School
20  Average    School
22     Poor        PG
28     Poor    School
41     Good        PG
8   Average        UG

In [40]:
x_test

     review education
12     Poor    School
24  Average        PG
34  Average    School
13  Average    School
27     Poor        PG

Now Applying Ordinal Encoding

In [49]:
from sklearn.preprocessing import OrdinalEncoder

encoder=OrdinalEncoder(categories=[['Poor', 'Average', 'Good'],['PG', 'UG', 'School']])
encoded_x_train=encoder.fit(x_train)
encoded_x_trained=encoder.transform(x_train)
encoded_x_trained=pd.DataFrame(encoded_x_trained,columns=['review','education'])
encoded_x_trained

    review  education
0      1.0        1.0
1      2.0        1.0
2      0.0        0.0
3      0.0        0.0
4      0.0        2.0
5      0.0        1.0
6      2.0        1.0
7      1.0        0.0
8      2.0        0.0
9      2.0        2.0
10     2.0        0.0
11     2.0        0.0
12     1.0        0.0
13     2.0        0.0
14     0.0        1.0
15     0.0        2.0
16     0.0        0.0
17     2.0        2.0
18     0.0        0.0
19     2.0        2.0
20     2.0        0.0
21     1.0        1.0
22     0.0        1.0
23     1.0        2.0
24     2.0        2.0
25     2.0        2.0
26     1.0        1.0
27     2.0        1.0
28     1.0        1.0
29     2.0        2.0
30     2.0        1.0
31     2.0        1.0
32     0.0        0.0
33     0.0        0.0
34     0.0        1.0
35     2.0        1.0
36     1.0        2.0
37     1.0        1.0
38     0.0        0.0
39     0.0        2.0
40     1.0        2.0
41     0.0        0.0
42     0.0        2.0
43     2.0        0.0
44     1.0        1.0

In [50]:
encoded_x_test=encoder.transform(x_test)
encoded_x_tested=pd.DataFrame(encoded_x_test,columns=['review','education'])
encoded_x_tested

   review  education
0     0.0        2.0
1     1.0        0.0
2     1.0        2.0
3     1.0        2.0
4     0.0        0.0

Applying LAbel Encoding

In [51]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
encoded_y_train=encoder.fit(y_train)
encoded_y_train=encoder.transform(y_train)
encoded_y_trained=pd.DataFrame(encoded_y_train,columns=['purchased'])
encoded_y_trained

    purchased
0           0
1           0
2           0
3           1
4           1
5           1
6           1
7           1
8           1
9           0
10          1
11          0
12          0
13          0
14          1
15          1
16          0
17          0
18          0
19          0
20          1
21          0
22          0
23          1
24          0
25          0
26          1
27          1
28          1
29          0
30          1
31          1
32          0
33          1
34          0
35          1
36          0
37          0
38          1
39          1
40          1
41          1
42          0
43          1
44          0

In [53]:
encoder.classes_

array(['No', 'Yes'], dtype=object)

In [52]:
encoded_y_test=encoder.transform(y_test)
encoded_y_tested=pd.DataFrame(encoded_y_test,columns=['purchased'])
encoded_y_tested

   purchased
0          0
1          1
2          0
3          0
4          0